@page
@model IndexModel
@{
   ViewData["Title"] = "Sciencetopia";
}

<!DOCTYPE html>
<html lang="zh">

<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
   <!-- 内容 -->
   <main class="content">
      <section class="features">
         <h2>功能特点</h2>
         <div class="feature">
            <i class="fas fa-box-open"></i>
            <h3>功能1</h3>
            <p>功能1的简短描述</p>
         </div>
         <div class="feature">
            <i class="fas fa-cogs"></i>
            <h3>功能2</h3>
            <p>功能2的简短描述</p>
         </div>
      </section>
   </main>
</body>

</html>